@page "/Cliente/ClienteIndex"

<h3 style="text-align: center;">Clientes</h3>

<RadzenDialog />
<RadzenNotification />

@if (_lstClientes == null)
{
    <div class="d-flex justify-content-center">
        <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
            <Template>Wait</Template>
        </RadzenProgressBarCircular>
    </div>
}
else
{
    <div class="container">
        <button type="button" @onclick="(()=> Create())" class="btn btn-success">
            <span class="oi oi-plus" aria-hidden="true"></span>
        </button>

        <br />
        <br />

        <div class="row">
            <div class="col-sm-12 text-left">
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" PageSize="10" AllowPaging="true" FilterMode="FilterMode.Advanced" AllowSorting="true"
                            Data="_lstClientes" TItem="Cliente" ColumnWidth="150px"
                            LogicalFilterOperator="LogicalFilterOperator.Or" EmptyText="No se encontraron registros.">
                    <Columns>
                        <RadzenDataGridColumn TItem="Cliente" Property="Cc_Nit" Title="Cc / Nit" />
                        <RadzenDataGridColumn TItem="Cliente" Property="Nombre_RazonSocial" Title="Nombre_RazonSocial" />
                        <RadzenDataGridColumn TItem="Cliente" Property="Direccion" Title="Direccion" />
                        <RadzenDataGridColumn TItem="Cliente" Property="Telefono" Title="Telefono" />
                        <RadzenDataGridColumn TItem="Cliente" Property="Estado" Title="Estado">
                            <Template Context="data">
                                @*<RadzenSwitch @bind-Value="data.Estado" />*@
                                @if (data.Estado == false)
                                {
                                    <span class="badge bg-light text-dark">Inactivo</span>
                                }
                                else if (data.Estado == true)
                                {
                                    <span class="badge bg-success">Activo</span>
                                }
                            </Template>

                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TItem="Cliente" Property="ClienteId" Title="Acciones">
                            <Template Context="data">
                                <button type="button" @onclick="(()=>Update(data.ClienteId))" class="btn btn-info">
                                    <span class="oi oi-pencil" aria-hidden="true"></span>
                                </button>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </div>
}

@code {
    List<Cliente> _lstClientes;

    protected override async Task OnInitializedAsync()
    {
        DialogService.OnClose += Close;
        await GetClientes();
    }

    public async Task GetClientes()
    {
        var response = await _http.GetFromJsonAsync<List<Cliente>>("Api/Clientes/GetClientes");

        if (response != null)
        {
            _lstClientes = response;
        }

        StateHasChanged();
    }

	void Close(dynamic result)
	{
		Task.Run(() => GetClientes());
	}

    private async Task Update(int id)
    {
        await DialogService.OpenAsync<ClienteUpdate>($"Actualizar Cliente",
           new Dictionary<string, object>() { { "Id", id } },
           new DialogOptions() { Width = "700px", Height = "570px", Resizable = true });
    }

    private async Task Create()
    {
        await DialogService.OpenAsync<ClienteCreate>($"Crear Cliente",
            new Dictionary<string, object>() { },
            new DialogOptions() { Width = "700px", Height = "570px", Resizable = true });
    }
}
